@model Practice.Models.DistrictModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DistrictModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
           @Model.Name
        </dd>
        <dt class = "col-sm-2">
            Code
        </dt>
        <dd class = "col-sm-10">
            @Model.Code
        </dd>
        <dt class = "col-sm-2">
            Province
        </dt>
        <dd class = "col-sm-10">
            @Model.Province.Name
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
